@import "../font/Sukar/font.css";
@import "../css/hover-min.css";

@font-face {
    font-family: Hacen;
    src: url(../font/ITCHandelGothicArabicLight.otf);
}

@font-face {
    font-family: Hacen-bold;
    src: url(../font/ITCHandelGothicArabicMedium.ttf);
}

@font-face {
    font-family: Hacen-Regular;
    src: url(../font/ITCHandelGothicArabicRegular.ttf);
}

.Hacen {
    font-family: Hacen, 'sans-serif' !important;
}

.Hacen-bold {
    font-family: Hacen-bold, 'sans-serif' !important;
}

.sukar-bold {
    font-family: SukarBold, 'sans-serif' !important;
}

a {
    text-decoration: none !important;
    transition: all ease-in-out 0.3s;
}

body {
    font-family: SukarRegular, 'sans-serif';
    color: #363636;
}

a, p {
    font-family: Hacen-Regular, 'sans-serif'
}

.navbar-light .navbar-nav .nav-link {
    font-family: Hacen-bold, 'sans-serif';
}

.navbar-light .navbar-toggler {
    color: rgb(0, 232, 153);
    border-color: rgb(0, 232, 153);
    border-width: 2px;
}

/*Start Top section*/
.top-section img.top-section-bg {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.top-section-container {
    color: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-60%);
}

.top-section-container .input-group {
    max-width: 550px;
    margin: 0 auto;
}

.top-section-container .input-group input {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    font-size: 20px;
    padding-bottom: 0.3rem;
    padding-right: 2rem;
    height: 50px;
    background-color: #ECECEC;
}

.top-section-container .input-group .input-group-append {
    margin-right: -25px;
}

.top-section-container .input-group button {
    border-radius: 50px !important;
    width: 80px;
    z-index: 5;
    transition: all ease-in-out 0.3s;
}

.top-section-container .input-group input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 232, 153, 0.25);
}

.blue-color {
    color: #00E899;
}

.btn-color {
    background-color: #00E899;
    color: #fff;
}

.btn-color:hover {
    background-color: #00dd8c;
}

.btn-color-outer {
    background-color: transparent;
    color: #00E899;
    padding-top: 5px;
    border: 1px solid #00E899;
}

.btn-color-outer:hover {
    background-color: #00E899;
    color: #fff;
}

#section10 {
    position: absolute;
    bottom: 50px;
    left: 50%;
}

#section10 a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

#section10 a:hover {
    opacity: .7;
}

#section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #00dd8c;
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #00dd8c;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*End Top section*/
/*Start Nav bar */
.top-section .navbar {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none;
    border-radius: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-light .navbar-nav a.nav-link:hover {
    background: #00E899;
    color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #00E899;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00E899;
}

.navbar .first-list a.btn-color:hover,
.navbar .second-list a.btn-color-outer:hover {
    color: #fff;
}

.navbar .second-list a.btn-color-outer {
    color: #00dd8c;
    border-radius: 50px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.page-container nav {
    background-color: #fff;
    position: relative;
}

.page-container nav ul.first-list li a.nav-link,
.page-container nav ul.second-list li a.nav-link {
    color: #00dd8c;
}

.page-container .navbar .second-list li:last-child a::before {
    background-color: #00dd8c;
}

.page-container nav ul.second-list li a.nav-link.btn-color-outer {
    color: #00E899;
    border-color: #00E899;
}

.page-container nav ul.second-list li a.nav-link.btn-color-outer:hover {
    background-color: #00E899;
    color: #fff;
}

.navbar-nav.first-list li:first-child a:hover {
    background: #F5544A;
}

.navbar-nav.first-list li:nth-child(2) a:hover {
    background: #50C2F2;
}

/*End nav bar*/
/*Start latest course section*/
.last-course-title p {
    font-size: 18px;
}

.latest-courses .controls button {
    background-color: transparent;
    border: 1px solid #B2B2B2;
    color: #959595;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 6px;
    font-size: 17px;
    transition: all ease-in-out 0.3s;
}

.latest-courses .controls button:hover,
.latest-courses .controls button.mixitup-control-active {
    color: #fff;
    background-color: #00dd8c;
    border-color: #00dd8c;
    outline: none;
}

.courses-card {
    border-radius: 16px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.20);
}

.courses-card-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    -o-object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.latest-courses {
    background: url(../image/bg2.png) repeat;
}

.courses-card-img span {
    position: absolute;
    top: 15px;
    font-size: 20px;
    right: 0;
    padding: 5px 10px 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}

.courses-card-title a {
    display: block;
    max-width: 277px;
    color: #363636;
    font-size: 19px;
    padding: 5px 15px;
}

.courses-card-title {
    border-right: 3px solid #50C2F2;
}

.courses .courses-card-img span {
    background: rgba(80, 194, 242, 0.95);
}

.courses-date-container ul li,
.courses-card-title a:hover {
    color: #50C2F2;
}

.specialty .courses-card-title a:hover,
.specialty .courses-date-container ul li {
    color: #F5544A;
}

.specialty .courses-card-title {
    border-color: #F5544A;
}

.specialty .courses-card-img span {
    background: rgba(245, 84, 74, 0.95);
}

.courses-card {
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: all ease 0.3s;
}

.courses-card:hover {
    -o-transform: scale(1.04, 1.04);
    -moz-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
    -webkit-box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.36);
}

.courses-date-container p {
    font-size: 13px;
    margin-bottom: 0;
}

.courses-date-container {
    padding: 0 18px;
    margin-top: 20px
}

.courses-date-container > p {
    color: #8E8E8E;
}

.courses-card {
    margin-bottom: 30px;
}

.latest-courses .controls {
    margin-bottom: 30px;
}

.latest-courses {
    margin-bottom: 90px;
}

/*End latest course section*/
/*Start how learn section*/
.how-learn-section {
    padding-top: 60px;
    background-color: #50C2F2;
    padding-bottom: 120px;
}

img.mask-top-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 250px;
}

img.mask-top-right {
    position: absolute;
    top: 0;
    righr: 0;
    max-width: 250px;
}

.how-learn-section img.mask-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.how-learn-section h3,
.how-learn-section p {
    color: #fff;
}

.how-learn-section h3,
.about-section h3 {
    font-size: 30px;
    font-family: "SukarBold", sans-serif;
}

.how-learn-section p {
    font-size: 20px;
}

/*End how learn section*/
/*Start video section*/
#html5-watermark {
    display: none !important;
}

.html5lightbox-container {
    position: relative;
}

.video-section a.html5lightbox {
    display: block;
    position: relative;
    z-index: 2;
}

.video-section a.html5lightbox img {
    border-radius: 20px;
}

.video-section {
    margin-top: -60px;
    margin-bottom: 110px;
}

.html5lightbox-container img.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.html5lightbox-container:hover img.video-play {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.html5boxVolumeBarActive, .html5boxSeekerPlay {
    background-color: #50C2F2 !important;
}

.html5lightbox-container::before {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(80, 194, 242, 0.30);
    bottom: -20px;
    left: -20px;
    right: -20px;
    height: 55%;
    z-index: 0;
    border-radius: 20px;
}

/*End video section*/
/*Start about section*/
.green-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00e798+0,00a870+100 */
    background: #00e798; /* Old browsers */
    background: -moz-linear-gradient(top, #00e798 0%, #00a870 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00e798 0%, #00a870 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00e798 0%, #00a870 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e798', endColorstr='#00a870', GradientType=0); /* IE6-9 */
}

.about-section .green-gradient h3,
.about-section .green-gradient p {
    color: #fff;
}

.about-section .green-gradient p {
    font-size: 18px;
}

.about-section-container {
    padding: 50px 100px 40px 50px;
}

.green-logo {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.about-section {
    margin-bottom: 90px;
}

/*End about section*/
/*Start count section*/
.count-section h3 {
    color: #1B4A5E;
}

.count-section-container .count-item {
    padding: 30px 20px 40px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.15);
}

.count-section-container .count-item img {
    max-width: 150px;
}

.count-number-container span {
    font-size: 35px;
}

.count-number-container p {
    font-size: 17px;
}

.count-section {
    margin-bottom: 90px;
}

/*End count section*/
/*Start trainers section*/
.trainers-section h3 {
    margin-top: 30px;
}

.trainers-section p {
    color: #fff;
}

.trainers-section {
    padding-bottom: 50px;
}

.trainers-container {
    padding: 30px 20px;
    border-radius: 40px;
    border: 2px solid #fff;
}

.trainers-container p.trainers-title {
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 1px;
}

.trainers-container p.trainers-sup-title {
    font-size: 18px;
}

.trainers-container .trainer-img-container {
    position: absolute;
    border: 10px solid #0F1F38;
    border-top-color: transparent;
    border-left-color: transparent;
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    -o-object-fit: cover;
    border-top-left-radius: 40px;
}

.trainers-container .trainer-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
}

.trainers-container .trainer-img {
    position: relative;
}

.trainers-container .trainer-img::after {
    content: '';
    position: absolute;
    right: -11px;
    width: 11px;
    height: 90px;
    background: #0F1F38;
    border-right: solid 2px #fff;
    display: block;
    top: 18px;
}

.trainers-container .trainer-img::before {
    content: '';
    position: absolute;
    left: 18px;
    width: 93px;
    height: 12px;
    background: #0F1F38;
    border-bottom: solid 2px #fff;
    display: block;
    bottom: -11px;
}

.trainers-section .item {
    padding: 20px;
}

.trainers-container i.quotation {
    position: absolute;
    bottom: -15px;
    right: 20px;
    font-size: 35px;
    color: #00E899;
}

/*End trainers section*/
/*Start brand section*/
.Brands-section .w-20 {
    padding: 25px 0;
    text-align: center;
}

.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.Brands-section .w-20:nth-child(odd) {
    background-color: #F1F1F1;
}

.Brands-section {
    padding: 90px 0;
}

/*End brand section*/
/*Start footer section*/
footer p,
footer a {
    color: #AFAFAF;
    text-decoration: none;
}

footer a:hover {
    color: #43D3E8;
}

.footer-social li a i {
    font-size: 17px;
}

.footer-social li {
    margin-left: 10px;
}

/*End footr section*/
/*Start Top page section*/
.page-top-section {
    background: url("../image/bg2.jpg");
    position: relative;
    background-size: 100%, cover;
}

.page-top-section h2 {
    color: #fff;
}

.overly {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    display: block;
    width: 100%;
    height: 100%;
}

.page-top-section-container {
    padding: 70px 0 120px 0;
}

/*Start Top page section*/
/*Start statistics section*/
.statistics-section {
    position: relative;
    z-index: 5;
    margin-top: -50px;
}

.statistics-section .statistics-section-container {
    border-radius: 16px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.23);
    padding: 20px 10px;
    text-align: center;
}

.statistics-section-container ul {
    margin-bottom: 7px;
}

.statistics-section-container p {
    margin-bottom: 0;
}

.statistics-section-container p {
    font-size: 16px;
}

.statistics-section-container ul li p {
    color: #8E8E8E;
    font-size: 15px;
}

.statistics-section-container ul .list-inline-item:not(:last-child) {
    margin-left: 2px;
}

.statistics-section-container ul li i {
    color: #f5544a;
}

.statistics-section-container .col-lg-2 {
    position: relative;
}

.statistics-section-container .col-lg-2:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #8E8E8E;
}

/*End statistics section*/
/*Start learn-in-specialty-section*/
.share-list li a {
    color: #8E8E8E;
}

.share-list li a:hover {
    color: #55c1ef;
}

.share-list li ul li {
    color: #F5544A;
}

.learn-in-specialty-section {
    margin-top: 50px;
}

.share-list {
    margin-bottom: 30px;
}

.sub-title {
    margin-bottom: 25px;
}

.sub-title h3 {
    position: relative;
    display: inline-block;
    background-color: #F5544A;
    color: #fff;
    border-radius: 16px;
    padding: 5px 70px 5px 25px;
    font-family: SukarBold, 'sans-serif';
}

.sub-title h3 span {
    position: absolute;
    right: 0;
    text-align: center;
    height: 52px;
    width: 58px;
    line-height: 40px;
    top: -5px;
    background-color: #fff;
    border-radius: 16px;
    display: block;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.red-dash-list li {
    position: relative;
    padding-right: 45px;
}

.red-dash-list li::after {
    position: absolute;
    content: '';
    right: 0;
    top: 13px;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background-color: #f5544a;
}

.red-dash-list p {
    font-size: 16px;
}

/*End learn-in-specialty-section*/
/*Start top-sub-page-bar*/
.top-sub-page-bar {
    background: #F5544A;
    color: #fff;
    padding: 15px 0;
}

.top-sub-page-bar h4 {
    font-size: 19px;
}

.top-sub-page-bar .progress-bar {
    border-radius: 50px;
}

.top-sub-page-bar .progress {
    direction: ltr;
    border-radius: 50px;
    margin: 0;
    background-color: #fff;
}

.top-sub-page-bar .progress .progress-bar {
    background-color: #FFE600;
}

.top-sub-page-bar ul {
    margin: 0;
    line-height: 1;
}

.top-sub-page-bar ul p, .top-sub-page-bar ul span {
    margin: 0;
    font-size: 17px;
}

.top-sub-page-bar ul span, .top-sub-page-bar ul i {
    color: #FFE600;
}

/*End top-sub-page-bar*/
/*Start specializations-right-menu*/
.specializations-right-menu ul {
    margin: 0;
}

.specializations-right-menu ul p {
    margin: 0;
    font-family: Hacen-bold, 'sans-serif';
    color: #1B4A5E;
    font-size: 17px;
}

.specializations-right-menu ul li a, .specializations-right-menu ul li p {
    display: block;
    padding: 10px 20px;
    background-color: #F8F8F8;
}

.specializations-right-menu ul li {
    border-bottom: 1px solid #DBDBDB;
}

.specializations-right-menu ul li a {
    color: #363636;
}

.specializations-right-menu ul li a:hover {
    background: #F5544A;
    color: #fff;
    padding-right: 30px;
}

.specializations-right-menu ul li a.active-link {
    background: #F5544A;
    color: #fff;
}

.specializations-left-content {
    padding: 20px 5px 48px 20px;

}

.specializations-left-content p.title {
    color: #F5544A;
    font-size: 21px;
    font-family: Hacen-bold, 'sans-serif';
}

.specializations-left-content a.specializations-btn {
    color: #fff;
    border: solid 2px #F5544A;
    border-radius: 16px;
    padding: 5px 25px 6px 25px;
    background-color: #F5544A;
    font-family: SukarRegular, 'sans-serif';
    display: inline-block;
    margin: 15px 0;
}

.specializations-left-content a.specializations-btn:hover {
    color: #F5544A;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/*End specializations-right-menu*/
/*Start courses-page*/
.courses-page .top-sub-page-bar, .courses-page .specializations-right-menu ul li a.active-link,
.courses-page .specializations-right-menu ul li a:hover,.courses-page .specializations-left-content a.specializations-btn {
    background-color: #50C2F2;
}
.courses-page .specializations-left-content a.specializations-btn{
    border-color:#50C2F2 ;
}
.courses-page .specializations-left-content p.title {
    color: #50C2F2;
}
.courses-page .specializations-left-content a.specializations-btn:hover{
    color: #50C2F2;
    background: transparent;
}
/*End courses-page*/
/*Start course-team*/
.course-team .media img {
    border-radius: 16px;
    width: 110px;
    height: auto;
}

.course-team .media {
    margin-top: 30px;
}

.course-team .media h5 {
    color: #00E899;
}

.supporters-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.supporters-section .col-md-4 img {
    margin-top: 30px;
}

/*End course-team*/
/*Start support-section*/
.support-section a.support-link {
    position: absolute;
    left: 8px;
    bottom: -1px;
    background: #1B4A5E;
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    font-family: SukarRegular, 'sans-serif';
}

.support-section a.support-link i {
    margin-right: 5px;
    font-size: 23px;
    position: relative;
    top: 3px;
}

/*End support-section*/
/*start sitting*/

.scroll-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(245, 84, 74, 0.72);
}

.courses-page .scroll-style::-webkit-scrollbar-thumb {
    background-color: rgba(80, 194, 242, 0.75);

}

.dark-blue {
    color: #1B4A5E !important;
}

.dark-blue-bg {
    background-color: #0F1F38 !important;
}

.light-green {
    color: #00E899 !important;
}

.light-red {
    color: #F5544A !important;
}

.btn-rounded {
    border-radius: 50px;
}

.red-btn {
    border-color: #F5544A;
    color: #F5544A;
}

.solid-red-btn {
    background: #F5544A;
    color: #fff;
    border-color: #F5544A;
}

.red-btn:hover {
    background: #F5544A;
    color: #fff;
}

.solid-red-btn:hover {
    background: transparent;
}

/*End sitting*/

/*Start media query*/
@media (min-width: 992px) {

}

@media (min-width: 768px) {
    .navbar .first-list a {
        margin: 0 10px;
    }

    .specializations-right-menu, .specializations-left-content {
        max-height: calc(100vh - 120px);
        overflow: auto;
    }

    .navbar ul.first-list {
        margin-right: 40px;
    }

    .navbar .second-list a.btn-color-outer {
        margin-left: 20px;
    }

    .navbar .second-list li:last-child a {
        position: relative;
    }

    .navbar .second-list li:last-child a::before {
        content: '';
        position: absolute;
        display: block;
        right: 0px;
        width: 1px;
        height: 15px;
        background-color: #fff;
        bottom: 12px;
    }
}

@media (max-width: 992px) {
    .w-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }

    #section10 {
        display: none;
    }

    .count-section-container .count-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        display: inline-block;
        margin: 5px 0;
    }

    .about-section-container {
        padding: 15px;
    }

    .green-logo {
        max-width: 150px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #0F1F38;
        text-align: center;
        border-radius: 6px;
    }
}

@media (max-width: 576px) {
    .top-section img.top-section-bg {
        width: 100%;
        height: auto;
        min-height: 50vh;
        object-fit: cover;
        max-height: 100vh;
    }

    .trainers-section .item {
        padding: 20px 30px;
    }

    img.footer-logo {
        margin: 0 auto;
    }

    footer h5 {
        margin-top: 15px;
    }

    footer {
        text-align: center;
    }

    .Brands-section {
        padding-bottom: 50px;
    }

    .top-section-container h1 {
        font-size: 1.5rem;
    }

    .top-section-container h2 {
        font-size: 1.4rem;
    }

    .top-section-container .input-group {
        margin-top: 12px !important;
    }

    .top-section-container {
        top: 55%;
    }

    .latest-courses .controls button {
        margin: 0 1px;
        font-size: 16px;
        padding: 5px 15px;
    }

    .latest-courses h3 {
        font-size: 1.4rem;
    }

    .html5lightbox-container::before {
        bottom: -10px;
        left: -10px;
        right: -10px;
    }

    .how-learn-section {
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .latest-courses, .about-section {
        margin-bottom: 50px;
    }

    .video-section {
        margin-bottom: 70px;
    }
}

/*End media query*/